:host {
  display: block;
}

.config-selection {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.config-details {
  width: 160px;
 float: right;

  >p {
    display: flex;
    justify-content: space-between;
  }
}
